@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --navbar-height: 11vw;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 7vw;
  }
}

html {
  scroll-padding-top: var(--navbar-height);
}

